{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% block child%}
{% include 'accounts/dash_navi.html' %}
{% endblock %}

{% if has_contact %}
<p><b>Before you upload your app, please make sure you have followed the instructions. Especially, make sure you have integrated app tracking codes
    to your app, otherwise, your app wont be tracked by us. Thanks!</b>
</p>
<form  enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% else %}
<br/>
<p>You need to update your <a href='{% url 'contact_update' %}'>contact info </a>first.</p>
{% endif %}



{% endblock %}