{% extends 'base.html' %}

{% block content %}
{% block child%}
{% include 'accounts/dash_navi.html' %}
{% endblock %}
<h1>Apps</h1>
<ul>
{% for app in object_list %}
    <li>{{ app.name }} - uploaded on {{ app.uploaded|date }}</li>
    <p>Category:</p> <p>{{ app.category.name }}</p>
    <p> {{ app.description_long }}</p>
    
    <a href='{% url 'app-track' app.id %}'><button>Download Tracking (Umeng)</button></a>
    
    <p><a href = '{% url 'applog' app.id %}'>App logs (user review + copyright protection)</a></p>
    
    <br/>
    <br/>
    <p><a href='{% url 'app-update' %}'>Update Your App</a></p>
{% empty %}
    <li>You have not uploaded any Apps yet!</li>
{% endfor %}
</ul>


{% endblock %}