{% extends 'base.html' %}

{% block content %}
{% block child%}
{% include 'accounts/dash_navi.html' %}
{% endblock %}

<h1>Apps</h1>
<div id="applist">

{% for app in object_list %}
<table border="2">
    <tr><td colspan="2"><p>{{ app.name }} - uploaded on {{ app.uploaded|date }}</p></td></tr>
    <tr><td><p>Category:</p></td><td><p>{% if app.category.name %}{{app.category.name}}{%else%}Not Catogorized{% endif%}</p></td></tr>
    <tr><td colspan="2"><p>{{ app.description_short }}</p></td></tr>
    
    <tr><td colspan="2"><a href='{% url 'app-track' app.id %}'><button>App Downloads Tracking</button></a></td></tr>
    
    <tr><td colspan="2"><p><a href = '{% url 'applog' app.id %}'>App logs (user review + copyright protection)</a></p></td></tr>
</table> 
    <br/>
    
    
{% empty %}
    <p>You have not uploaded any Apps yet!</p>
{% endfor %}

<button><a href='{% url 'app-update' %}'>Update Your App</a></button>
</div>
{% endblock %}