{% extends 'base.html' %}

{% block content %}
{% block child%}
{% include 'accounts/dash_navi.html' %}
{% endblock %}
<div id="applist" style="width: 50%; margin: 0 auto;">
<h1>App Name : {{ app }}</h1>
<ul>
 {% for type in types %}
  {% for key, values in type.items %}
     <h2>{{ values }}</h2><br/>
    {% for applog in object_list %}
    
     {% if applog.type.name == values %}
    <li><p>{{ applog.created|date }}</p> 
       {{ applog.description }} 
       {% if applog.image %}
       <p>Screenshot:
       <a href='{{ applog.image.url }}'>click here</a></p>
       
       {% endif %}
       <p>--------------------------</p>
    </li><br/>
     {% endif %}
     
     {% endfor %}
     
{% endfor %}
{% empty %}
    <li>There is no log for this App yet.</li>
{% endfor %}
</ul>
</div>
{% endblock %}