body {
            font-family: Lucida, Helvetica, Arial, sans-serif;
            font-size: 12px;
            padding: 0;
            margin: 0 auto;
            width:1280px;
            background-color: #304b65;
        }

        a:hover{
            text-decoration: none;
        }
        ul
        {
            padding: 0px;
            list-style-type: none;
        }
    
        h1 {
            background: #f2f2f2;
            border-bottom: 1px solid #ccc;
            color: #20435c;
            padding: 10px 0 10px 10px;
            margin: 0;
        }
    
        #navigation {
            background: #ffcc00;
            width: 100%-250px;
            padding: 0 0 0 100px;
            margin-left: 250px;
            margin-top: 90px;
            height:30px;
        }
    
        #navigation a {
            float: left;
            display: block;
            padding: 2.5px 15px;
            margin: 0px 30px 10px 0;
            color: #304b65;
            font-weight: bold;
            font-size: 18px;
            -webkit-transition: all 200ms ease-in;
            -moz-transition: all 200ms ease-in;
            -ms-transition: all 200ms ease-in;
            -o-transition: all 200ms ease-in;
            transition: all 200ms ease-in;
        }

        .navbar img {
            display:inline;
            float: left;
            display: block;
            padding: 10px 0px;
            margin: 10px 0px 10px 0;

        }

        ul
        {
            list-style-type: none;
        }
        .navbar-right li,.navbar-right li a{
            display: inline;
            font-weight: bold;
            font-size: 18px;
            color:#ffffff;
            -webkit-transition: all 200ms ease-in;
            -moz-transition: all 200ms ease-in;
            -ms-transition: all 200ms ease-in;
            -o-transition: all 200ms ease-in;
            transition: all 200ms ease-in;
        }
        .navbar-right li{
            padding-left: 22px;
        }

        .navbar-right >li> a:hover{
            display: inline;
            font-weight: bold;
            font-size: 18px;
            text-decoration: none;
            color: #ffcc00;
        }

        .navbar-right{
            margin-top:-105px;
            font-weight: bold;
            font-size: 18px;
        }
        .dropdown-menu .divider{
            height:0px;
            margin:0px 0px;
        }
        .dropdown-menu li {
            display: block;
            margin: 0px 30px 10px 0;
        }
        .dropdown-menu li:hover{
            color: rgb(96,150,192);
        }
        .dropdown-menu li a{
            padding: 2.5px 15px;
            font-weight: bold;
            font-size: 16px;
            color: #304b65;
        }

        .dropdown-menu li a:hover{
            background: transparent;
            color: rgb(96,150,192);

        }

        .dropdown .dropdown-toggle{
            text-decoration: none;
            color:#ffffff;
            -webkit-transition: all 200ms ease-in;
            -moz-transition: all 200ms ease-in;
            -ms-transition: all 200ms ease-in;
            -o-transition: all 200ms ease-in;
            transition: all 200ms ease-in;
        }
        .dropdown-toggle:hover{
            text-decoration: none;
            color: #ffcc00;
        }
        .open .dropdown-toggle{
            text-decoration: none;
            color: #ffcc00;
        }

        #carousel{
            margin-left: 110px;
            width:1060px;
            font-size: 35px;
            color: rgba(255,255,255,0.09)
        }
        #carousel div{
            height:500px;
        }

        .pre{
            left: -70px; 
            position: absolute; 
            cursor: pointer; 
            top: 50%; 
            margin-top: -82px; 
        }
        .nex{
            right: -70px;
            position: absolute; 
            cursor: pointer; 
            top: 50%; 
            margin-top: -82px;  
        }
    
        #navigation a:hover,
        #navigation a.mark {
            background: #ffffff;
            text-decoration:none;
        }


        #plan{
            background: #ffffff;
            border-radius: 10px;
            border-collapse: separate;
        }
        .row{
            display:inline;
        }
        h2{
            text-align: center;
        }
        #plan td{
            padding: 7px 7px;
            text-align: center;

        }
        #plan th{
            padding: 10px 10px;
            text-align: center;

        }
        #plan thead{
            color: #ffffff;
            font-size: 18px;
            background: rgb(96,150,192);
        }

        #plan .current_plan{
            font-size: 14px;
            color: #ffffff;
            display:block;
        }
        #plan .plan_header p{
            font-size: 14px;
            color: #ffffff;
            display:block;
            margin-bottom:0px;
            height:12px;
            font-weight:normal;
        }
        #current th{
            padding: 0px 0px 5px 0px;
        }
        #plan tbody th span{
            display: block;
        }
        #plan .quota_description{
            font-size: 14px;
            font-weight: normal; 
        }
        #plan tfoot .periods_footer{
            text-align: center;
            font-size: 18px;
        }
        #plan tfoot .planpricing_footer ul li span{
            display: block;
        }
        #plan tfoot .planpricing_footer ul li a {
            display: block;
            height:20px;
        }
        #plan th{
            width: 25%;
        }
        .plan_table{
            width:100%;
        }
        .errorlist{
            color:rgb(255,49,57);
        }
        form{
            background: #ffffff;
            border-radius: 10px;
            padding: 20px 40px;

        }
        form label{
            font-size: 20px;
            display: block;
            color: #304b65;
        }
        form span{
            font-weight: 600;
            font-size: 16px;
            display: block;
            color: rgb(100,100,100);
        }
        form input{
            padding-left: 10px;
            font-size: 16px;
            display: block;
            color: rgb(55,55,55);
            width:378px;
        }
        form select{
            padding-left: 10px;
            font-size: 16px;
            display: block;
            color: rgb(55,55,55);
            height:28px;
        }
        form input[type="file"] {
            padding: 10px 0px;
        }
        option{
            color:rgb(0,0,0);
        }
        #main {
            width: 100%;
            color:#ffffff;
        }
        #applist{
            background:#Ffffff;
            border-radius: 0px 0px 10px 10px;
            padding:0px 15px 15px 15px;
            color:#304b65;
            font-size:16px;
            font-weight:bold;
        }
        #applist a{
            color:#000;
            font-weight:normal;
        }
        h1{
            border-radius: 10px 10px 0px 0px;
        }

        .blog-detail{
            background:#ffffff;
            border-radius: 10px;
            padding:0px 0px 15px 15px;
            width:100%;
            color:rgb(100,100,100);
        }
        .blog-detail h3{
            margin:0px;
            
        }
        .blog-entry{
            background:#ffffff;
            border-radius: 10px;
            padding:15px 0px;
            width:100%;
        }
        .blog-entry h3{
            color:#304b65;
            padding:0px 32px;
            margin-top:7px;
        }
        .blog-entry h1{
            color:#304b65;
            padding:15px 22px;
            background:E6E6E6;
        }
        .blog-entry iframe{
            padding:15px 22px;
        }
        
        .blog-entry table{
            width:1280px;
        }
        .blog-entry table td h3 a{
            color:rgb(190,60,80);
        }
        .blog-entry table tbody:hover{
            background:rgb(243,243,252);
            -webkit-transition: all 200ms ease-in;
            -moz-transition: all 200ms ease-in;
            -ms-transition: all 200ms ease-in;
            -o-transition: all 200ms ease-in;
            transition: all 200ms ease-in;
        }
        #sidebar {
            float: left;
            background: #304b65;
            padding: 0 0 0 10px;
        }
    
    
        .clearfix:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
    

    
        html[xmlns] .clearfix {
            display: block;
        }
    
        * html .clearfix {
            height: 1%;
        }
        
        input, select, textarea{
         color: black;
        }

        textarea:focus, input:focus {
         color: black;
        }
        
